<div class="container d-flex justify-content-evenly">
  <h1>Bienvenido <span id="user">{{user}}</span></h1>
  
  <button class="btn btn-danger btn-lg btn-block" type="button" id="logout">Logout</button>

</div>


<div class="container">
  {{>productos}}
</div>
<script src="/logout.js"></script>