<div class="container mt-4">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">PictureURL</th>
      </tr>
    </thead>
    <tbody id="info">
      <tr >
        <th scope="row">1</th>
        <td>Offline</td>
        <td>Offline</td>
        <td>Offline</td>
      </tr>
      
    </tbody>
  </table>

</div>



<script src="/productos.js"></script>
